h1 {
	color:yellow;
	border:5px dashed brown;
}
li {
	color:green;
}
h4 {
	color:purple;
	background-color:red;
}
body {
	background:url(https://previews.123rf.com/images/2nix/2nix1602/2nix160200187/51729642-brown-wood-plank-wall-texture-background.jpg);
	background-repeat: no-repeat;
	background-size: cover;

}